html {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.fractal, .contact, .skills {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  // z-index: 1;
  // -webkit-filter: opacity(80%);
  // -moz-filter: opacity(80%);
  // -o-filter: opacity(80%);
  // -ms-filter: opacity(80%);
  // filter: opacity(80%);
  
}

.fractal {
  background-image: url('../images/fractal.jpg');
}

.contact {
  background-image: url('../images/contact.png');
}

.skills {
  background-image: url('../images/skills.png');
}

#skills .column {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 50px;
  }
}

#about p {
  text-align: justify;
  text-justify: inter-word;
}